/* added a background colour  */

body{
    background-color:#212529;
}

.ayu{
    margin-top: 60px;
    margin-bottom: 75px;
}

.svg{
    margin-right: 12px;
    margin-top: 0px;
}

.svg1{
    margin-left: 15px;
}

.text{
    color: aliceblue;
    margin: 15px;
    font-family: "SUSE", sans-serif;
}

a{
    text-decoration: none;
}

h1{
    margin: 20px;
}

.mypic{
    float: left;
    max-width: 400px;
}

.aboutmetext{
    height: auto;
    width:50%;
    float:right;
}

.aboutmecont{
    display: inline-block;
}

nav{
    background-color: #dee2e6bf;
}

/* making the dropdown hover  */

.dropdown:hover .dropdown-items {
    display: block;
}

.img{
    border-radius: 2% 2% 0% 0%;
    height: 300px;
    width: 100%;
}

p{
    margin: 10px;
}

h3{
    text-align: center;
    margin: 10px;
}

.procont{
    padding: 28px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.btn{
    width: 200px;
    display: grid;
    margin: auto;
    margin-bottom: 8px;
}

.pro{
    margin-bottom: 24px;
    height: auto;
    max-width: 400px;
    border: 0.1px solid #6c757d;
    border-radius: 2%;
}

.name{
    font-weight: 600;
}

/* making it reponsive  */

@media (max-width:873px){
    
    h1{
        text-align: center;
    }

    .aboutmecont{
       width: 100%;
       text-align: center;
    }

    .name{
        text-align: center;
    }

    .contact{
        text-align: left;
    }

    .mypic{
        max-width: 317px;
        float: none;
        display: grid;
        margin: auto;
    }

    .aboutmetext{
        float:none;
        margin: auto;
        margin-top: 15px;
        width: 100%;
    }

    /* making the project card center align  */

    .pro{
        display: grid;
        margin: auto;
        margin-bottom: 20px;
    }
}